.btn-blue{
    cursor: pointer;
    background-color: blue;
    border-radius: 5px;
    padding: 8px;
    color: antiquewhite;
    width: 5rem;
    border: none;
    margin: 5px;
}

.tittle{
    text-align: center;
    
}